body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* GLOBAL STYLES */
/* GLOBAL STYLES */
/* GLOBAL STYLES */
.btn {
    transition: background-color 0.3s ease;
}
.btn-info {
    background-color: #4285F4;
}
.btn-info:hover, .btn-info:active:focus{
    background-color: #3F3D56;
}
.navbar-brand {
    color: #4285f4 !important;
}
.navbar-margin {
    margin-top: 70px;
}
.navbar-sign-out-btn {
    color: #4285f4 !important;
}
.upcoming-event-viewall-btn {
    display: block;
    margin-top: 20px;
    color: #333333;
}
.jumbotron {
    background: #4285f4;
    color: white;
}
.jumbotron h1 {
    font-weight: 600;
}

/* WELCOME PAGE STYLES   */
/* WELCOME PAGE STYLES   */
/* WELCOME PAGE STYLES   */
.welcome-page-form {
    width: 100%;
}
.sign-up-text {
    margin-top: 10px;
}
.welcome-page-headline-text {
    font-weight: 900;
    font-size: 48px;
    color: #3F3D56;
}
.welcome-page-headline-text span {
    color: #4285F4;
}


/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
.class-panel {
    color: inherit;
    text-decoration: none !important;
}
.class-panel:hover {
    text-decoration: none;
}


@media screen and (max-width: 767px) {
    .welcome-page-bg-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .welcome-page-bg-wrapper img {
        width: 80%;
    }
    .welcome-page-form-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 1199px) {
    .welcome-page-bg-wrapper, .welcome-page-form-wrapper {
        margin-top: 50px;
    }
}
@media screen and (min-width: 1200px) {
    .welcome-page-bg-wrapper, .welcome-page-form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
}
